.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #032974;
  width: 100%;
  min-width: 0;
  padding: 64px 64px 14px;
}
.freeBox___8ZP4B {
  display: flex;
  position: relative;
  max-width: var(--token-DyqsffANFM5s);
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox___8ZP4B > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 52px);
  width: calc(100% + 52px);
}
.freeBox___8ZP4B > :global(.__wab_flex-container) > *,
.freeBox___8ZP4B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8ZP4B > :global(.__wab_flex-container) > picture > img,
.freeBox___8ZP4B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 52px;
}
@media (max-width: 930px) {
  .freeBox___8ZP4B {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 930px) {
  .freeBox___8ZP4B > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 930px) {
  .freeBox___8ZP4B > :global(.__wab_flex-container) > *,
  .freeBox___8ZP4B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___8ZP4B > :global(.__wab_flex-container) > picture > img,
  .freeBox___8ZP4B
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__v8Vxq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 387px;
  height: 296px;
  flex-shrink: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__v8Vxq {
    justify-content: center;
    align-items: center;
  }
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 229px;
  max-height: 35px;
}
.img > picture > img {
  object-fit: cover;
}
.text__hlK52 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: var(--token-EOvBB_pUSo9Z);
  font-family: "Montserrat", sans-serif;
  padding-top: 21px;
  align-self: flex-start;
  text-align: left;
  font-size: 18px;
  min-width: 0;
}
@media (max-width: 930px) {
  .text__hlK52 {
    text-align: center;
    width: 100%;
    max-width: 346px;
    align-self: center;
    min-width: 0;
  }
}
.freeBox___6Al9F {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 32px 0px 0px;
}
@media (max-width: 930px) {
  .freeBox___6Al9F {
    align-items: center;
    justify-content: center;
  }
}
.svg__oXb4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  width: auto;
  height: 1em;
}
.svg__erWgc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.svg__gVx5I {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.svg___3Sdgo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.freeBox__pfxcG {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 110px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__pfxcG {
    justify-content: center;
    align-items: center;
    align-self: center;
  }
}
.h4__eP8K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 930px) {
  .h4__eP8K {
    text-align: center;
    margin-top: 53px;
  }
}
.button__c5UzK:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (max-width: 930px) {
  .button__c5UzK:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__ydbbo {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__xCwOl {
  color: var(--token-EOvBB_pUSo9Z);
}
.svg__w5Ht {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__amNhI:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (max-width: 930px) {
  .button__amNhI:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__ytz9X {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__qfRec {
  color: var(--token-EOvBB_pUSo9Z);
}
.svg__onQx2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__bjodV:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (max-width: 930px) {
  .button__bjodV:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__bH9Aq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__rphsi {
  color: var(--token-EOvBB_pUSo9Z);
}
.svg__g5MbG {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__qtIaO {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 166px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__qtIaO {
    justify-content: center;
    align-items: center;
  }
}
.h4__o2Rpg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 930px) {
  .h4__o2Rpg {
    text-align: center;
    margin-top: 46px;
  }
}
.button__ju3Bt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (max-width: 930px) {
  .button__ju3Bt:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__t3CQj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___8Kzpm {
  color: var(--token-EOvBB_pUSo9Z);
}
@media (max-width: 930px) {
  .text___8Kzpm {
    text-align: center;
  }
}
.svg__c3H4N {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__x5Qk3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (max-width: 930px) {
  .button__x5Qk3:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__n9Kq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___63Uun {
  color: var(--token-EOvBB_pUSo9Z);
}
@media (max-width: 930px) {
  .text___63Uun {
    text-align: center;
  }
}
.svg__eJxjp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__hrE30 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 321px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__hrE30 {
    justify-content: center;
    align-items: center;
  }
}
.h4___0JYpw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 930px) {
  .h4___0JYpw {
    text-align: center;
    margin-top: 46px;
  }
}
.text__ym9Mz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 249px;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  text-align: left;
  margin-top: 32px;
  min-width: 0;
}
@media (max-width: 930px) {
  .text__ym9Mz {
    text-align: center;
    align-self: center;
  }
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 24px;
  margin-bottom: 24px;
}
@media (max-width: 930px) {
  .textInput:global(.__wab_instance) {
    height: 50px;
    width: 284px;
    flex-shrink: 0;
  }
}
.svg__mw5Ae {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__ty0Zs {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__wMxJl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (max-width: 930px) {
  .button__wMxJl:global(.__wab_instance) {
    align-self: center;
    height: 50px;
    width: 284px;
    margin-bottom: 0px;
    flex-shrink: 0;
  }
}
.svg___0Qes5 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
@media (max-width: 930px) {
  .text__v8Um {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}
.svg__jaUh2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #ffffff;
  margin-top: 1px;
  margin-left: 24px;
}
.freeBox__uaTf9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 20px;
}
@media (max-width: 930px) {
  .freeBox__uaTf9 {
    align-self: center;
  }
}
.text__mvYzT {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 0px;
  color: var(--token-EOvBB_pUSo9Z);
  margin-top: 100px;
}
