.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px 16px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
.freeBox__hiZiK {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: var(--token-kKvDSrTASJWF);
  padding-top: 0px;
  padding-bottom: 0px;
  height: auto;
  max-height: 50px;
  min-width: 0;
}
.freeBox__hiZiK > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__hiZiK > :global(.__wab_flex-container) > *,
.freeBox__hiZiK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hiZiK > :global(.__wab_flex-container) > picture > img,
.freeBox__hiZiK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (max-width: 930px) {
  .freeBox__hiZiK {
    padding-top: 0px;
    padding-bottom: 0px;
    max-width: 930px;
    display: flex;
    flex-direction: column;
    max-height: 300px;
  }
}
@media (max-width: 930px) {
  .freeBox__hiZiK > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 930px) {
  .freeBox__hiZiK > :global(.__wab_flex-container) > *,
  .freeBox__hiZiK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__hiZiK > :global(.__wab_flex-container) > picture > img,
  .freeBox__hiZiK
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.logo:global(.__wab_instance) {
  width: 100%;
  height: auto;
  max-width: 246px;
  max-height: 50px;
  min-width: 0;
}
.freeBox__zgFzu {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  align-self: center;
}
.freeBox__zgFzu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__zgFzu > :global(.__wab_flex-container) > *,
.freeBox__zgFzu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zgFzu > :global(.__wab_flex-container) > picture > img,
.freeBox__zgFzu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (max-width: 930px) {
  .freeBox__zgFzu {
    display: flex;
    width: auto;
    max-width: none;
    max-height: 50px;
    margin-top: 26px;
  }
}
.button__yvKad:global(.__wab_instance) {
  position: relative;
}
.svg__gqRso {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__jyZ6 {
  color: #000000;
  font-weight: 600;
  line-height: 19.5;
}
.svg__bcphX {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__nMKoO:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 930px) {
  .button__nMKoO:global(.__wab_instance) {
    margin-top: 0px;
  }
}
.svg__p1BQ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__vXb9 {
  color: #00000080;
  font-weight: 600;
  line-height: 19.5;
}
.svg__x88Jv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__ygu7L:global(.__wab_instance) {
  position: relative;
}
.svg__q7AKk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__usvF {
  color: #00000080;
  font-weight: 600;
  line-height: 19.5;
}
.svg__tmA5 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox___3LhuL {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___3LhuL > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
@media (max-width: 930px) {
  .freeBox___3LhuL {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 18px;
    min-width: 0;
  }
}
@media (max-width: 930px) {
  .freeBox___3LhuL > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 0;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 930px) {
  .freeBox___3LhuL > :global(.__wab_flex-container) > *,
  .freeBox___3LhuL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___3LhuL > :global(.__wab_flex-container) > picture > img,
  .freeBox___3LhuL
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 0px;
  }
}
.button__p1SJh:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 930px) {
  .button__p1SJh:global(.__wab_instance) {
    display: none;
  }
}
.svg__q0Ak6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__gKqQ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__rP6Yz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__q25Zz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__cUlI {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
